<html>
  <head>
    <title>div</title>
    <meta charset="UTF-8">
    <style type="text/css">
      div{
        width:200px;
        height:200px;
        position: absolute;
      }
      #div1{
        background-color: #AF8;
      }
      #div2{
        background-color: #CCBBAA;
        left: 100px;
        top: 100px;
      }
      #div3{
        background-color: #FF8;
        left: 200px;
        top: 200px;
      }
    </style>
  </head>
  <body>

    <div id="div1">div1</div>
    <div id="div2">div2</div>
    <div id="div3">div3</div>


  </body>

</html>
<!--
1.  html语言是解释型语言，不是编译型语言。
  浏览器是容错的

2.  html页面中由一对标签组成：<html></html>
  <html>称之为 开始标签
    </html>称之为 结束标签

3.   title表示网页的标题
4.    可以在mate标签中设置编码方式
5.    <br/>表示换行。br标签是一个单标签
6.    p表示段落标签
7.    img表示图片标签
        src表示图片的路径
        width表示图片的宽度
        height表示图片的高度
        alt表示图片的描述
8.    h1~h6：标题标签
9.  列表标签:
      ol:有序列表
        start表示从*开始，type显示的类型：A a I i 1(default)
      ul:无序列表
        type:disc(default) circle square
10. u下划线 b加粗 i斜体
11. 上标：sup 下标：sub
12. HTML中的实体：小于号：&lt; 小于号：&gt; 双引号：&quot; 单引号：&apos;
13.span 不换行的块标记
14. a表示超链接
      href表示超链接的地址
      target:
        _self:当前窗口打开
        _blank:新窗口打开
        _parent:父窗口打开
        _top:在顶层窗口打开
15.div层
16.表格 table
-->