<html>
  <head>
    <title>这是我的第一个网页</title>
    <meta charset="UTF-8">
  </head>
  <body>

    <!--HELLO WORLD!<br/>你好，HTML
    <p>这是一个段落</p>
    <p>这是第二个段落</p>
    <img src="/WEB-INF/templates/imgs/demo.jpg" width="57" height="73" alt="这是一张图片"/>
    <h1>标题一</h1>
    <h2>标题一</h2>
    <h3>标题一</h3>
    <h4>标题一</h4>
    <h5>标题一</h5>
    <h6>标题一</h6>-->

    武林高手排行榜:
    <ol type="i" start="3">
      <li>扫地僧</li>
      <li>萧远山</li>
      <li>慕容博</li>
      <li>虚竹</li>
      <li>阿紫</li>
    </ol>
    武林大会人员名单：
    <ul type="circle">
      <li>乔峰</li>
      <li>阿朱</li>
      <li>马夫人</li>
      <li>白世镜</li>
    </ul>

    你是喜欢<b>甜</b>月饼还是<i>咸</i><u>月饼</u>？
    <br/>

    水分子的化学式：H<sub>2</sub>O<br/>
    10<sup>2</sup>=100<br/>

    5小于10:5&lt;10<br/>
    10大于5:10&gt;5<br/>
    5小于等于10:5&le;10<br/>
    10大于等于5:10&ge;5<br/>
    注册商标 &reg;<br/>
    版权符号 &copy;

    <span>赵又廷</span>，夺妻之仇

    <a href="https://www.baidu.com" target="_blank">百度一下</a>


  </body>

</html>
<!--
1.  html语言是解释型语言，不是编译型语言。
  浏览器是容错的

2.  html页面中由一对标签组成：<html></html>
  <html>称之为 开始标签
    </html>称之为 结束标签

3.   title表示网页的标题
4.    可以在mate标签中设置编码方式
5.    <br/>表示换行。br标签是一个单标签
6.    p表示段落标签
7.    img表示图片标签
        src表示图片的路径
        width表示图片的宽度
        height表示图片的高度
        alt表示图片的描述
8.    h1~h6：标题标签
9.  列表标签:
      ol:有序列表
        start表示从*开始，type显示的类型：A a I i 1(default)
      ul:无序列表
        type:disc(default) circle square
10. u下划线 b加粗 i斜体
11. 上标：sup 下标：sub
12. HTML中的实体：小于号：&lt; 小于号：&gt; 双引号：&quot; 单引号：&apos;
13.span 不换行的块标记
14. a表示超链接
      href表示超链接的地址
      target:
        _self:当前窗口打开
        _blank:新窗口打开
        _parent:父窗口打开
        _top:在顶层窗口打开
15.div层
-->